*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body,html{
    height: 100%;
    width: 100%;
    background: rgba(12, 10, 10, 0.92);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 23rem;
    background:linear-gradient(255deg,#00feba,#5b548a);
    border-radius: 20px;
    padding: 30px  15px;
    color: white;
}

.search{
    width: 90%;
    display:flex;
    align-items: center;
    justify-content: space-between;    
    position: relative;
}

.search input{
    width: 80%;
    border: none;
    outline: none;
    background: #ebfffc;
    color: #555;
    padding: 10px 15px;
    height: 50px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 16px;
    position: absolute;
    left: 70px;
}

.search button{
    border: 0;
    outline: 0;
    background:#ebfffc;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    padding: 14px;
    cursor: pointer;
}

.search button img{
    width: 16px;
}
.error{
    text-align: right;
    margin-right: 30px;
    margin-top: 10px;
    font-size: 18px;
    display: none;
}
.weather{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-icon{
    width: 150px;
    margin-top: 30px;
}

.weather h1{
    font-size: 70px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 20px;
    gap: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 30px;
    margin-right: 10px;
}

.weather{
    display: none;
}