*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
html,body{
    width: 100%;
    height: 100%;
    background-color:#4D5382 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 550px;
    min-height: 450px;
    background-color: #fff;
    border-radius: 5px;
    padding: 40px 20px;
    position: relative;
}

.container #topicon{
    position: absolute;
    left: 50%;
    top: -10%;
    transform: translate(-50%,10%);
    width: 80px;
    height: 80px;
    background-color: #fff;
    font-size: 42px;
    color: #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px #333;
}
.input-group{
    margin-top: 30px;
    position: relative;
}
.input-group input{
    margin-left: 50px;
    border: none;
    outline: none;
    border-bottom: 2px solid #333;
    width: 60%;
    font-size: 15px;
    
    padding-bottom: 10px;
}
.input-group input#name{
    margin-left: 48px;
}
.input-group input#email{
    margin-left: 63px;
}

.input-group textarea{
    font-size: 16px;
    margin-left: 13px;
    border: none;
    outline: none;
    border-bottom: 2px solid #333;
    width: 60%;
}

#btn{
    margin-top: 25px;
    background-color: #4D5382;
    border: none;
    outline: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 15px;
}

.input-group span{
    position: absolute;
    bottom: 12px;
    right: 75px;
    font-size: 14px;
    color: red;
}
#error{
    position: absolute;
    bottom: 25px;
    color: red;
}
.input-group span i{
    color: seagreen;
    font-size: 15px;
}